In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
from config import username
from config import password

In [ ]:
# Database Setup - create engine and connection
engine = create_engine(f'postgresql://{username}:{pasword}localhost:5432/Employee_db')
connection = engine.connect()

### Import the SQL database into Pandas.

In [ ]:
data = pd.read_sql("SELECT * FROM ")

### Create a histogram to visualize the most common salary ranges for employees.

### Create a bar chart of average salary by title.